* {
    font-family: 'Nunito', sans-serif;
}

div {
    border: 1px solid;
    color: #000;
    padding: 10px;
    margin-top: 20px;
    width: 350px;
    background-color: brown;
}

h2 {
    position: absolute;
    font-size: 16px;
    font-weight: 300px;
    color: #000;
    top: -3px;
    background-color: white;
    padding: 0 3px;
}

label {
    display: block;
    font-size: 20px;
    color: skyblue;
}

input {
    margin-bottom:  15px;
    border-color: forestgreen;
}

.rede-social {
    display: inline;
}

.genero {
    display: inline;
}

.senha {
    display: block;
}

button {
    cursor: pointer;
}

.reset:hover {
    border-color:  red;
    padding: 8px;
    background-color: blueviolet;
    color: chartreuse;

}

.enviar:hover { 
    border-color:  blue;
    padding: 8px;
    background-color: aqua;
    color: crimson;

}

textarea {
    border-color: forestgreen;
}